body {
  font-family: Roboto Slab;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header {
  font-family: Megrim;
  text-align: right;
  opacity: .9;
}

#placeholder {
  float: left;
}

#textholder {
font-family: Roboto Slab;
color: black;
text-align: right;
}

#linkbar {
  display: block;
  font-family: Roboto Slab;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  background-color: #89409B;
  opacity: .8;
  height: 25px
}
